

.hh{font-size: 30px;transform: scale(0.2)}


.kk{
    width:80px;
    height:80px;
    margin-left:60px;
    margin-top:42px;
    margin-bottom: 75px;
    background: red;
}

img{
    width: 440px;
    height: 110px;
}